<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>收录住宅代理</title>
    <!--data table-->
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>
    <style>
        .inputStyle {
            width: 250px;
        }

        .el-table .danger-row {
            background: #FF8C69;
        }

        .el-table .primary-row {
            background: #98F5FF;
        }
    </style>
    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">

<section>

    <div th:replace="common :: #leftmenu"></div>

    <!-- main content start-->
    <div class="main-content">

        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                收录住宅代理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Table</a>
                </li>
                <li class="active"> 收录设置</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper" id="app">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            收录任务
                        </header>

                        <div class="panel-body">
                            <div class="adv-table editable-table ">

                                <div style="margin-bottom:25px;margin-top:25px;">
                                    <span>Country：</span>
                                    <el-select filterable v-model="selectedCountry" placeholder="请选择国家" @change="onCountryChange" clearable>
                                        <el-option v-for="country in countries" :key="country" :label="country" :value="country"></el-option>
                                    </el-select>
                                    <span>State：</span>
                                    <el-select filterable v-model="selectedState" placeholder="请选择州" @change="onStateChange" clearable>
                                        <el-option v-for="state in states" :key="state" :label="state" :value="state"></el-option>
                                    </el-select>
                                    <span>City：</span>
                                    <el-select filterable v-model="selectedCity" placeholder="请选择城市" clearable>
                                        <el-option v-for="city in cities" :key="city" :label="city" :value="city"></el-option>
                                    </el-select>
                                    <span>数量：</span>
                                    <el-input
                                            placeholder="请输入"
                                            v-model.trim="number"
                                            style="width:10%;margin-right:20px;"
                                            clearable>
                                    </el-input>
                                    <el-button type="success" @click="collect">执行</el-button>
                                    <el-button type="warning" @click="pauseCollect">暂停</el-button>
                                    <el-button type="danger" @click="endCollect">结束</el-button>
                                    <!--                                    <el-button type="danger" @click="">停止执行</el-button>-->
                                </div>
                                <hr>

                                <div style="margin-top:35px;">
                                    <span>收录进度：</span>
                                    <el-progress type="circle" :percentage="percentage"
                                                 :status="progressStatus"></el-progress>
                                    <br/>
                                    <br/>
                                    <span>当前收录： {{currentNum}}</span>
                                    <span>&nbsp;    当前失败： {{currentFailNum}}</span>
                                    <span>&nbsp;    当前抛弃： {{currentRepeatNum}}</span>
                                    <span>&nbsp;    成功收录： {{totalNum}}</span>
                                    <span>&nbsp;    今日收录： {{todayNum}}</span>
                                    <span>&nbsp;    总收录： {{completedNum}}</span>
                                    </br>
                                    </br>
                                    <span v-if="errorMessage != null" style="color:#fff;font-weight: bold;background-color: red;">错误信息： {{errorMessage}}</span>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <!--<footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>-->
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/Date.js"></script>

<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<script src="js/vue.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<!--script for editable table-->
<!-- END JAVASCRIPTS -->
<script>

    /*    jQuery(document).ready(function() {
            EditableTable.init();
        });*/
    // let baseUrl = "http://192.168.100.119:8080";
    var app = new Vue({
        el: '#app',
        data: {
            ip: '',
            country: '',
            state: '',
            city: '',
            number: '',
            percentage: 0,
            progressStatus: null,
            errorMessage:null,
            postalCode: '',
            currentNum: '',
            totalNum: '',
            todayNum: '',
            completedNum: '',
            currentFailNum: 0,
            currentRepeatNum: 0,
            intervalFlag: null,
            lines: '',
            selectedCountry: 'us',
            selectedState: '',
            selectedCity: '',
            countries: [],
            states: [],
            cities: [],

        },
        methods: {
            collectProgress() {
                //保存Vue指针
                var that = this;
                // 每隔 1s 请求接口，获取进度条 进度，如果达到 100% 则取消 定时请求任务
                this.intervalFlag = setInterval(() => {
                    axios.get(baseUrl + '/rola/collectProgress',
                        {
                            params: {}
                        })
                        .then((response) => {
                            that.currentNum = response.data.data.currentNum;
                            that.totalNum = response.data.data.completedNum;
                            that.todayNum = response.data.data.todayNum;
                            that.completedNum = response.data.data.totalNum;
                            that.errorMessage = response.data.data.error;

                            if (response.data != null) {
                                console.log("currentNum:" + response.data.data.currentNum);
                                console.log("totalNum:" + response.data.data.totalNum);
                                this.percentage = (response.data.data.completedNum / response.data.data.currentNum * 100).toFixed(2);
                            }

                            if (response.data.data.error != null) {
                                this.collectError(response.data.data.error);
                                return;
                            }

                            //从90自增到100
                            if (this.percentage == 100) {
                                //自增到100后把进度条status变为success
                                clearInterval(this.intervalFlag)
                                this.progressStatus = 'success'

                                setTimeout(() =>{
                                    axios.get(baseUrl + '/rola/collectProgress',
                                        {
                                            params: {}
                                        })
                                        .then((response) => {
                                            that.currentNum = response.data.data.currentNum;
                                            that.totalNum = response.data.data.completedNum;
                                            that.todayNum = response.data.data.todayNum;
                                            that.completedNum = response.data.data.totalNum;
                                            that.errorMessage = response.data.data.error;
                                            if (response.data.data.error != null) {
                                                this.collectError(response.data.data.error);
                                                return;
                                            }

                                            that.$alert('当前收录：' + response.data.data.currentNum
                                                + '   成功收录：' + response.data.data.completedNum
                                                + '   今日收录：' + response.data.data.todayNum
                                                + '   总收录：' + response.data.data.totalNum
                                                , '收录提示', {
                                                    confirmButtonText: '确定',
                                                    type: 'success',
                                                    callback: action => {
                                                        that.$message({
                                                            type: 'success',
                                                            message: '收录成功！'
                                                        });
                                                    }
                                                });
                                        })
                                },2500)

                            }

                        }).catch(function (error) {
                        that.$alert(response.data.data, '收录结果', {
                            confirmButtonText: '确定',
                            callback: action => {
                                that.$message.error('异常错误：' + response.data.message);
                            }
                        });
                        that.progressStatus = 'exception'
                        //出现异常，停止定时任务
                        clearInterval(that.intervalFlag)
                    });

                }, 1000);
            },
            collect() {
                //保存Vue指针
                let that = this;
                let errorData = null;
                axios.post(baseUrl + '/rola/collectV2', {}, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                    },
                    withCredentials: true,
                    params: {
                        number: this.number,
                        country: this.selectedCountry.toLowerCase(),
                        state: this.selectedState.toLowerCase(),
                        city: this.selectedCity.toLowerCase()
                    }
                })
                    .then(function (response) {
                        that.$alert(response.data.message, '收录提示', {
                            confirmButtonText: '确定',
                            callback: action => {
                                that.$message({
                                    type: 'info',
                                    message: '开始收录！'
                                });
                            }
                        });
                    })
                    .catch(function (error) {
                        console.log("异常提示为：" + error.response.data.message);
                        that.$alert(error.response.data.message, '开始收录', {
                            confirmButtonText: '确定',
                            type: 'error',
                            callback: action => {
                                that.$message.error('异常错误：' + error.response.data.message);
                            }
                        });
                        errorData = error;
                    });
                //出现异常，不再执行接下来的操作
                if (errorData != null) {
                    return;
                }

                this.collectProgress();
            },
            collectError(error){
                this.$alert(error, '错误提示', {
                    confirmButtonText: '确定',
                    type: 'error',
                    callback: action => {
                        this.$message.error('异常错误：' + error);
                    }
                });
                this.progressStatus = 'exception'
                //出现异常，停止定时任务
                clearInterval(this.intervalFlag)
            },
            pauseCollect() {
                //保存Vue指针
                let that = this;
                //暂停收集进度查询
                clearInterval(this.intervalFlag)
                axios.get(baseUrl + '/rola/pauseCollect',
                    {
                        params: {}
                    })
                    .then((response) => {
                        that.$alert('暂停成功！', '操作提示', {
                                confirmButtonText: '确定',
                                type: 'success',
                                callback: action => {
                                    that.$message({
                                        type: 'success',
                                        message: '暂停收集成功！'
                                    });
                                }
                            });
                    })

            },
            endCollect() {
                //保存Vue指针
                let that = this;
                //暂停收集进度查询
                clearInterval(this.intervalFlag)
                axios.get(baseUrl + '/rola/endCollect',
                    {
                        params: {}
                    })
                    .then((response) => {
                        that.$alert('已结束收集！', '操作提示', {
                            confirmButtonText: '确定',
                            type: 'success',
                            callback: action => {
                                that.$message({
                                    type: 'success',
                                    message: '结束收集成功！'
                                });
                            }
                        });
                    })

            },
            async loadData() {
                try {
                    // 从 localStorage 中获取文件内容
                    let data = localStorage.getItem('country-state-city');
                    // localStorage 没有则从后端拉取
                    if (data == null) {
                        const response = await fetch('/rola/country-state-city');
                        data = await response.text();
                        localStorage.setItem('country-state-city', data);
                    }

                    this.lines = data.split('\n');
                    for (const line of this.lines) {
                        const [country, stateAbbreviation, stateName, city] = line.split(',');
                        if (!this.countries.includes(country)) {
                            this.countries.push(country);
                        }
                    }
                } catch (error) {
                    console.error(error);
                }
            },
            onCountryChange() {
                this.states = [];
                this.cities = [];
                const country = this.selectedCountry;
                for (const line of this.lines) {
                    const [c, stateAbbreviation, stateName, city] = line.split(',');
                    if (c === country && !this.states.includes(stateAbbreviation)) {
                        this.states.push(stateAbbreviation);
                    }
                }
            },
            onStateChange() {
                this.cities = [];
                const country = this.selectedCountry;
                const state = this.selectedState;
                for (const line of this.lines) {
                    const [c, s, stateName, city] = line.split(',');
                    if (c === country && s === state) {
                        this.cities.push(city.replace('\r', ''));
                    }
                }
            }
        },
        mounted() {
            this.collectProgress();
            this.loadData();
            this.onCountryChange();
        }
    })
</script>

</body>
</html>
