<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>住宅代理列表</title>
    <!--data table-->
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>
    <style>
        .inputStyle {
            width: 250px;
        }

        .el-table .danger-row {
            background: #ffd3c8;
        }

        .el-table .primary-row {
            background: #b3e9f3;
        }

        body {
            padding-right: 0px !important;
            overflow: hidden;
        }
    </style>
    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">

<section>

    <div th:replace="common :: #leftmenu"></div>

    <!-- main content start-->
    <div class="main-content">

        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                住宅代理列表
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Table</a>
                </li>
                <li class="active">住宅代理列表</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper" id="app">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            住宅代理列表
                        </header>

                        <div class="panel-body">
                            <div class="adv-table editable-table ">

                                <div style="margin-bottom:25px;">
                                    <span>IP：</span>
                                    <el-input
                                            placeholder="请输入内容"
                                            v-model.trim="ip"
                                            clearable
                                            @keyup.enter.native="search"
                                            style="width:10%;margin-right:20px;"
                                    >
                                    </el-input>
<!--                                    <span>Country：</span>
                                    <el-input
                                            placeholder="请输入内容"
                                            v-model.trim="country"
                                            @keyup.enter.native="search"
                                            style="width:10%;margin-right:20px;"
                                            clearable>
                                    </el-input>
                                    <span>State：</span>
                                    <el-input
                                            placeholder="请输入内容"
                                            v-model.trim="state"
                                            @keyup.enter.native="search"
                                            style="width:10%;margin-right:20px;"
                                            clearable>
                                    </el-input>
                                    <span>City：</span>
                                    <el-input
                                            placeholder="请输入内容"
                                            v-model.trim="city"
                                            @keyup.enter.native="search"
                                            style="width:10%;margin-right:20px;"
                                            clearable>
                                    </el-input>-->
                                    <span>Country：</span>
                                    <el-select filterable v-model="selectedCountry" placeholder="请选择国家" @change="onCountryChange">
                                        <el-option v-for="country in countries" :key="country" :label="country" :value="country"></el-option>
                                    </el-select>
                                    <span>State：</span>
                                    <el-select filterable v-model="selectedState" placeholder="请选择州" @change="onStateChange">
                                        <el-option v-for="state in states" :key="state" :label="state" :value="state"></el-option>
                                    </el-select>
                                    <span>City：</span>
                                    <el-select filterable v-model="selectedCity" placeholder="请选择城市">
                                        <el-option v-for="city in cities" :key="city" :label="city" :value="city"></el-option>
                                    </el-select>
                                    <span>ZipCode：</span>
                                    <el-input
                                            placeholder="请输入内容"
                                            v-model.trim="zipCode"
                                            @keyup.enter.native="search"
                                            style="width:10%;margin-right:20px;"
                                            clearable>
                                    </el-input>
                                    <!--                                    <span>ProxyPort：</span>
                                                                        <el-input
                                                                                placeholder="请输入内容"
                                                                                v-model.trim="proxyPort"
                                                                                @keyup.enter.native="search"
                                                                                style="width:10%;margin-right:20px;"
                                                                                clearable>
                                                                        </el-input>-->
                                    <!--<div style="margin-bottom:25px;margin-top:25px;">
                                        <span>state：</span>
                                        <el-select v-model="state" placeholder="状态">
                                            <el-option label="不可用" value=0></el-option>
                                            <el-option label="可用" value=1></el-option>
                                            <el-option label="不稳定" value=2></el-option>
                                        </el-select>
                                    </div>-->
                                    <el-button type="primary" @click="onSubmit">查询</el-button>
                                    <el-button type="info" @click="resetCondition">重置</el-button>
                                </div>
                                <!--<div style="margin-bottom:25px;margin-top:25px;">
                                    <span class="demonstration">选择创建时间区间：</span>
                                    <el-date-picker
                                            v-model="createTimeRange"
                                            type="datetimerange"
                                            value-format="yyyy-MM-dd HH:mm:ss"
                                            :picker-options="pickerOptions"
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                                            align="right">
                                    </el-date-picker>
                                </div>
                                <div style="margin-bottom:25px;margin-top:25px;">
                                    <span class="demonstration">选择心跳时间区间：</span>
                                    <el-date-picker
                                            v-model="heartbeatTimeRange"
                                            type="datetimerange"
                                            value-format="yyyy-MM-dd HH:mm:ss"
                                            :picker-options="pickerOptions"
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                                            align="right">
                                    </el-date-picker>
                                </div>-->

                                <!--                                <el-button type="warning" @click="batchHandle">批量心跳操作</el-button>-->
                                <!--                                <el-button type="danger" @click="manualAll">手动进行所有IP心跳</el-button>-->
                                <hr>
                                <table class="table table-striped table-hover table-bordered"
                                       id="editable-sample"
                                >
                                    <tbody>
                                    <template>
                                        <el-table
                                                :data="reports"
                                                border
                                                style="width: 100%"
                                                :cell-style="redCharacter"
                                                @cell-click="cellclick"
                                                :row-class-name="tableRowClassName"
                                                ref="table"
                                                row-key="id"
                                                :key="timeStamp"
                                        >
<!--                                            <el-table-column type="selection" width="55" :reserve-selection="true">-->
<!--                                            </el-table-column>-->
                                            <el-table-column
                                                    prop="id"
                                                    label="ID"
                                            >
                                            </el-table-column>
                                            <el-table-column
                                                    prop="ip"
                                                    label="IP"
                                            >
                                            </el-table-column>
                                            <el-table-column
                                                    prop="country"
                                                    label="Country">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="region"
                                                    label="State">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="city"
                                                    label="City">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="postalCode"
                                                    label="ZipCode">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="risk"
                                                    label="Risk"
                                            >
                                            </el-table-column>
<!--                                            <el-table-column
                                                    prop="score"
                                                    label="Score"
                                            >
                                            </el-table-column>
                                            <el-table-column
                                                    prop="tz"
                                                    label="TimeZone"
                                                    width="300"
                                            >
                                            </el-table-column>-->
                                            <!--<el-table-column
                                                    prop="state"
                                                    label="state"
                                            >
                                                <template slot-scope="scope">
                                                    <span v-if="scope.row.state == '0'">不可用</span>
                                                    <span v-if="scope.row.state == '1'">可用</span>
                                                    <span v-if="scope.row.state == '2'">不稳定</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="remark"
                                                    label="remark"
                                            >
                                                <template slot-scope="scope">
                                                    <el-input
                                                            ref="gain"
                                                            size="mini"
                                                            v-if="scope.row.isOK"
                                                            @keyup.native.enter="blurClick(scope)"
                                                            @blur="blurClick(scope)"
                                                            v-model="scope.row.remark"
                                                            style="width:100%;hight:100%"></el-input>
                                                    <span size="mini" v-else>{{scope.row.remark}}</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="heartbeatQuantity"
                                                    label="heartbeatQuantity"
                                            >
                                            </el-table-column>
                                            <el-table-column
                                                    prop="lastHeartbeatTime"
                                                    label="lastHeartbeatTime"
                                            >
                                            </el-table-column>
                                            <el-table-column
                                                    prop="createTime"
                                                    label="createTime"
                                            >
                                            </el-table-column>-->
                                            <el-table-column
                                                    label="操作"
                                                    align="center"
                                                    min-width="100">
                                                <template slot-scope="scope">
                                                    <el-button type="primary" @click="testAlive(scope)">测活</el-button>
                                                    <el-button type="success" @click="fillForm(scope)">启用</el-button>
                                                    <el-button type="danger" @click="deleteByIp(scope)">删除</el-button>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                        <el-dialog title="启动代理端口" :visible.sync="dialogVisible" width="30%">
                                            <el-form ref="form" :model="form" label-width="120px">
<!--                                                <el-form-item label="IP">-->
<!--                                                    <el-input v-model="form.checkIp"></el-input>-->
<!--                                                </el-form-item>-->
<!--                                                <el-form-item label="API URI">-->
<!--                                                    <el-input v-model="form.proxyServer"></el-input>-->
<!--                                                </el-form-item>-->
<!--                                                <el-form-item label="API port">-->
<!--                                                    <el-input v-model="form.apiPort"></el-input>-->
<!--                                                </el-form-item>-->
<!--                                                <el-form-item label="代理端口">-->
<!--                                                    <el-input v-model="form.proxyPort"></el-input>-->
<!--                                                </el-form-item>-->
<!--                                                <el-form-item label="代理端口时长(秒)">-->
<!--                                                    <el-input v-model="form.timeout"></el-input>-->
<!--                                                </el-form-item>-->

<!--                                                <el-form-item label="删除代理端口">-->
<!--                                                    <el-select v-model="form.deleteProxyPortFlag" placeholder="请选择：">-->
<!--                                                        <el-option-->
<!--                                                                v-for="item in options"-->
<!--                                                                :key="item.value"-->
<!--                                                                :label="item.label"-->
<!--                                                                :value="item.value">-->
<!--                                                        </el-option>-->
<!--                                                    </el-select>-->
<!--                                                </el-form-item>-->
<!--                                                <el-form-item label="Zone">-->
<!--                                                    <el-input v-model="form.zone"></el-input>-->
<!--                                                </el-form-item>-->
<!--                                                <el-form-item label="Password">-->
<!--                                                    <el-input v-model="form.zonePassword"></el-input>-->
<!--                                                </el-form-item>-->
                                                <!--<el-alert
                                                        title="如果不填写Zone和Password，则使用默认"
                                                        type="info"
                                                        closable="false"
                                                        show-icon>
                                                </el-alert>-->
                                                <el-form-item label="启动端口">
                                                    <el-input-number v-model="form.socksPort" :min="1" :max="65535"></el-input-number>
                                                </el-form-item>
                                                <el-form-item label="设备名称">
                                                    <el-input v-model="form.deviceName"></el-input>
                                                </el-form-item>
                                                <el-form-item label="自定义Socks5用户名">
                                                    <el-input v-model="form.socksUsername" ></el-input>
                                                </el-form-item>
                                                <el-form-item label="自定义Socks5密码">
                                                    <el-input v-model="form.socksPassword" type="password" ></el-input>
                                                </el-form-item>
                                                <el-form-item label="代理用户名">
                                                    <el-input v-model="form.rolaUsername" ></el-input>
                                                </el-form-item>
                                                <el-form-item label="代理用户密码">
                                                    <el-input v-model="form.rolaPassword" type="password"></el-input>
                                                </el-form-item>
                                            </el-form>

                                            <el-button @click="dialogVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="startSocksPort(scope)">确 定</el-button>
                                            </span>
                                        </el-dialog>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <el-pagination
                                background
                                :page-sizes="[50, 10, 20, 100]"
                                :page-size="pageSize"
                                :current-page="pageNum"
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                layout="total, sizes, prev, pager, next"
                                :total="total">
                        </el-pagination>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <!--<footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>-->
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--<script src="js/Date.js"></script>-->

<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<script src="js/vue.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<!--script for editable table-->
<!-- END JAVASCRIPTS -->
<script>
    /*    jQuery(document).ready(function() {
            EditableTable.init();
        });*/
    // let baseUrl = "http://192.168.100.119:8080";
    var app = new Vue({
        el: '#app',
        data () {
            let data = {
                ip: '',
                country: '',
                state: '',
                city: '',
                zipCode: '',
                lines: '',
                selectedCountry: 'us',
                selectedState: '',
                selectedCity: '',
                countries: [],
                states: [],
                cities: [],
                remark: '',
                form: {
                    startTime: '',
                    endTime: ''
                },
                createTimeRange: '',
                heartbeatTimeRange: '',
                manualHeartbeatTimeRange: '',
                reports: [],
                summary: '',
                total: 0,
                pageNum: 1,
                pageSize: 50,
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                text: '最近一个月',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
            }
        }, {
                text: '最近三个月',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                    picker.$emit('pick', [start, end]);
                }
            }]
        },
            getIpTimes: '',
            requestId: '',
            intervalMinute: '',
            executorPararm: '',
            timeStamp: '',
            dialogVisible: false,
            form: {
                // checkIp: '',
                // proxyServer: '47.75.52.53',
                // apiPort: 58081,
                // proxyPort: '',
                // timeout: 3600,
                // deleteProxyPortFlag: 0,
                // zone: '',
                // zonePassword: '',

                socksPort: '',
                deviceName: '',
                socksAddressIp: '',
                socksUsername: '',
                socksPassword: '',
                rolaUsername: '',
                rolaPassword: '',
            },
            options: [{
                value: 0,
                label: '否'
            }, {
                value: 1,
                label: '是'
            }],
        }
            data.ip = localStorage.getItem('ip') ? localStorage.getItem('ip') : '';
            data.country = localStorage.getItem('country')? localStorage.getItem('country') : '';
            data.state = localStorage.getItem('state')? localStorage.getItem('state') : '';
            data.city = localStorage.getItem('city')? localStorage.getItem('city') : '';
            data.zipCode = localStorage.getItem('zipCode')? localStorage.getItem('zipCode') : '';
            return data
        },

        beforeUpdate(){
            // console.log(this.$data);
            localStorage.setItem('ip', this.$data.ip);
            localStorage.setItem('country', this.$data.country);
            localStorage.setItem('state', this.$data.state);
            localStorage.setItem('city', this.$data.city);
            localStorage.setItem('zipCode', this.$data.zipCode);
        },
        methods: {
            onSubmit() {
                axios.get(baseUrl + '/rola/listRolaIpsPage',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {
                            ip: this.ip,
                            country: this.selectedCountry.toLowerCase(),
                            state: this.selectedState.toLowerCase(),
                            city: this.selectedCity.toLowerCase(),
                            zipCode: this.zipCode,
                            //remark: this.remark,
                            //state: this.state,
                            //startCreateTime: this.createTimeRange[0],
                            //endCreateTime: this.createTimeRange[1],
                            //startHeartbeatTime: this.heartbeatTimeRange[0],
                            //endHeartbeatTime: this.heartbeatTimeRange[1],
                            pageNum: this.pageNum,
                            pageSize: this.pageSize
                        }
                    })
                    .then((response) => {
                        // console.log("responose是：" + response.data);
                        this.reports = response.data.data.rows
                        if (response.data != null) {
                            this.total = response.data.data.total
                        }
                    })
            },
            resetCondition() {
                this.ip = '',
                this.country = '',
                this.state = '',
                this.city= '',
                this.zipCode = '';
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.pageNum = 1;
                this.onSubmit();
            },
            handleCurrentChange(val) {
                this.pageNum = val;
                this.onSubmit();
            },
            timeFormatter(row, column) {
                return this.timestampToTime(row.confirmedTimestamp);
            },
            /**
             * 计算时间返回 yyyy-MM-dd h:m:s 格式的⽅法
             * timestamp 时间戳
             */
            timestampToTime(timestamp) {
                // 计算年⽉⽇时分的函数
                var date = new Date(timestamp * 1000)
                console.log(date);
                var Y = date.getFullYear() + '-'
                var M = (date.getMonth() + 1) + '-'
                var D = date.getDate() + ' '
                var h = date.getHours() + ':'
                var m = date.getMinutes() + ':'
                var s = date.getSeconds()
                return Y + M + D + h + m + s
            },
            redCharacter(row, column, rowIndex, columnIndex) {
                if (row.columnIndex == 8 && row.state == 0) {
                    return 'color:red';
                }
            },
            cellclick(row, column, cell, event) {
                /*    if(column.label === 'remark'){
                        this.$set(row, 'isOK', true)
                    }
                    this.$nextTick(() => {
                        this.$refs.gain.focus()
                    })*/
            },
            /*
            blurClick({row,column}){
                if(column.label === 'remark'){
                    this.$set(row, 'isOK', false)
                    axios.post(baseUrl + '/ipAddr/updateRemark', {

                    },{
                        headers: {
                            'Access-Control-Allow-Origin':'*',  //解决cors头问题
                            'Access-Control-Allow-Credentials':'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials : true,
                        params: {
                            id: row.id,
                            remark: row.remark
                        }
                    })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },*/
            tableRowClassName({row, rowIndex}) {
                console.log("tableRowClassName 方法触发了！！！！")
                if (row.result === true) {
                    return 'primary-row';
                } else if (row.result === false) {
                    return 'danger-row';
                }


                /*if (row.state === 0) {
                    return 'danger-row';
                } else if (row.state === 1) {
                    return 'primary-row';
                }*/
                return '';
            },
            updateJob() {
                axios.post(baseUrl + '/ipAddr/updateJob', {}, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                    },
                    withCredentials: true,
                    params: {
                        id: this.requestId,
                        intervalMinute: this.intervalMinute,
                        executorPararm: this.executorPararm
                    }
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            startJob() {
                axios.post(baseUrl + '/ipAddr/startJob', {}, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                    },
                    withCredentials: true,
                    params: {
                        id: this.requestId
                    }
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            stopJob() {
                axios.post(baseUrl + '/ipAddr/stopJob', {}, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                    },
                    withCredentials: true,
                    params: {
                        id: this.requestId
                    }
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            manualHeartbeat() {
                axios.post(baseUrl + '/ipAddr/manualHeartbeat', {}, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                    },
                    withCredentials: true,
                    params: {
                        startHeartbeatTime: this.manualHeartbeatTimeRange[0],
                        endHeartbeatTime: this.manualHeartbeatTimeRange[1]
                    }
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            search() {
                this.onSubmit();
            },
            testAlive({row, column}) {
                //保存Vue指针
                let that = this;
                const loading = this.$loading({
                    lock: true,
                    text: '测活中...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                axios.post(baseUrl + '/rola/checkIPActive', {
                    socksAddressIp: row.ip
                }, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/json; charset=UTF-8' //将表单数据传递转化为json类型
                    },
                    withCredentials: true
                })
                    .then((response) => {
                        loading.close();
                     /*   that.$alert(response.data.message, '测活结果', {
                            confirmButtonText: '确定',
                            callback: action => {
                                that.$message({
                                    type: 'info',
                                    message: response.data.message
                                });
                            }
                        });*/
                        let arr = that.reports;
                        if (response.data.status == 100) {
                            for (let i = 0; i < arr.length; i++) {
                                if (arr[i].id == response.data.data.id) {
                                    arr[i].result = true;
                                    break;
                                }
                            }
                        } else {
                            console.log("测活失败，row.id 是 " + row.id)
                            for (let i = 0; i < arr.length; i++) {
                                if (arr[i].id == row.id) {
                                    arr[i].result = false;
                                    break;
                                }
                            }
                        }
                        that.reports = arr;
                        // 重设内部 el-table 的 key 值，手动触发组件的重载机制
                        this.timeStamp = new Date().getTime();

                        // that.$set(that.reports);

                        // that.$forceUpdate();
                    })
                    .catch((error) => {
                        loading.close();
/*                        that.$alert(error.message, '测活结果', {
                            confirmButtonText: '确定',
                            type: 'error',
                            callback: action => {
                                that.$message.error('异常错误：' + error.message);
                            }
                        });*/

                        let arr = that.reports;
                        for (let i = 0; i < arr.length; i++) {
                            if (arr[i].id == row.id) {
                                arr[i].result = false;
                                break;
                            }
                        }
                        that.reports = arr;
                        // 重设内部 el-table 的 key 值，手动触发组件的重载机制
                        this.timeStamp = new Date().getTime();

                        // that.$set(that.reports);

                        // that.$forceUpdate();
                    });

            },
            deleteByIp({row, column}) {
                //保存Vue指针
                var that = this;
                const loading = this.$loading({
                    lock: true,
                    text: '删除中...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                axios.post(baseUrl + '/rola/deleteProxyPortByIP', {}, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为json类型
                    },
                    withCredentials: true,
                    params: {
                        ip: row.ip
                    }
                })
                    .then(function (response) {
                        loading.close();
                        that.$alert(response.data.message, '操作结果', {
                            confirmButtonText: '确定',
                            callback: action => {
                                that.$message({
                                    type: 'info',
                                    message: response.data.message
                                });
                            }
                        });
                    })
                    .catch(function (error) {
                        loading.close();
                        that.$alert(error.data.message, '操作结果', {
                            confirmButtonText: '确定',
                            type: 'error',
                            callback: action => {
                                that.$message.error('异常错误：' + error.data.message);
                            }
                        });
                    });
            },
            batchHandle() {
                //保存Vue指针
                var that = this;

                console.log(this.$refs.table.selection);
                console.log(this.$refs.table.selection[0].id);
                let ids = [];
                for (let i = 0; i < this.$refs.table.selection.length; i++) {
                    ids.push(this.$refs.table.selection[i].id);
                }

                axios.get(baseUrl + '/ipAddr/manualHeartbeat',
                    {
                        params: {
                            idList: ids
                        }
                        , paramsSerializer: function (params) {
                            const keys = Object.keys(params)
                            const arr = []
                            keys.forEach(item => {
                                if (Array.isArray(params[item])) {
                                    const url = params[item].map(_ => `${item}=${_}`).join('&')
                                    arr.push(url)
                                } else {
                                    arr.push(`${item}=${params[item]}`)
                                }
                            })
                            const result = arr.join('&')
                            return `${result}`
                        }
                    }).then((response) => {

                    console.log(response)
                    let arr = that.reports;
                    for (let j = 0; j < response.data.data.length; j++) {
                        for (let i = 0; i < arr.length; i++) {
                            console.log(arr[i].id);
                            console.log(response.data.data[j].id);
                            if (arr[i].id == response.data.data[j].id) {
                                arr[i].result = response.data.data[j].result;
                                break;
                            }
                        }
                    }
                    that.reports = arr;
                    // 重设内部 el-table 的 key 值，手动触发组件的重载机制
                    this.timeStamp = new Date().getTime();


                })
            },
            manualAll() {
                axios.post(baseUrl + '/ipAddr/manualHeartbeatAllIp', {}, {
                    headers: {
                        'Access-Control-Allow-Origin': '*',  //解决cors头问题
                        'Access-Control-Allow-Credentials': 'true', //解决session问题
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                    },
                    withCredentials: true
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            fillForm({row, column}) {

                const config = localStorage.getItem('config');
                if (config) {
                    this.form = JSON.parse(config);
                }
                this.form.checkIp = row.ip;
                this.dialogVisible = true;

            },
            startSocksPort() {

                //保存Vue指针
                var that = this;
                let data = {
                    socksAddressIp: this.form.checkIp,
                    socksPort: this.form.socksPort,
                    socksUsername: this.form.socksUsername,
                    socksPassword: this.form.socksPassword,
                    socksPort: this.form.socksPort,
                    rolaUsername: this.form.rolaUsername,
                    rolaPassword: this.form.rolaPassword,
                    deviceName: this.form.deviceName
                };
                axios.post(baseUrl + '/rola/startSocksPort', data)
                    .then(function (response) {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: response.data.message,
                                type: 'success'
                            });
                        } else {
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: response.data.message,
                                type: 'warning'
                            });
                        }
                    })
                    .catch(function (error) {
                        that.$message({
                            showClose: true,
                            offset: 250,
                            message: error.data.message,
                            type: 'warning'
                        });
                    });
                this.dialogVisible = false;

                let modifiedForm = {
                    socksUsername: this.form.socksUsername,
                    socksPassword: this.form.socksPassword,
                    socksPort: this.form.socksPort,
                    rolaUsername: this.form.rolaUsername,
                    rolaPassword: this.form.rolaPassword,
                }
                localStorage.setItem('config', JSON.stringify(modifiedForm));
            },
            async loadData() {
                try {
                    // 从 localStorage 中获取文件内容
                    let data = localStorage.getItem('country-state-city');
                    // localStorage 没有则从后端拉取
                    if (data == null) {
                        const response = await fetch('/rola/country-state-city');
                        data = await response.text();
                        localStorage.setItem('country-state-city', data);
                    }

                     this.lines = data.split('\n');
                    for (const line of this.lines) {
                        const [country, stateAbbreviation, stateName, city] = line.split(',');
                        if (!this.countries.includes(country)) {
                            this.countries.push(country);
                        }
                    }
                } catch (error) {
                    console.error(error);
                }
            },
            onCountryChange() {
                this.states = [];
                this.cities = [];
                const country = this.selectedCountry;
                for (const line of this.lines) {
                    const [c, stateAbbreviation, stateName, city] = line.split(',');
                    if (c === country && !this.states.includes(stateAbbreviation)) {
                        this.states.push(stateAbbreviation);
                    }
                }
            },
            onStateChange() {
                this.cities = [];
                const country = this.selectedCountry;
                const state = this.selectedState;
                for (const line of this.lines) {
                    const [c, s, stateName, city] = line.split(',');
                    if (c === country && s === state) {
                        this.cities.push(city);
                    }
                }
            }
        },
        mounted() {
            this.onSubmit();
            this.loadData();
            this.onCountryChange();
        }
    })
</script>

</body>
</html>
